@charset "UTF-8";

$navfontcolor: darkgrey;
$navbackgroundcolor: lightgoldenrodyellow;
$navfontcolorhover: black;

.nav
{
  font-family: "Times New Roman",Georgia,serif;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  margin-top: 5%;
  color: $navfontcolor;
  background-color: $navbackgroundcolor;
}
.return
{
    text-align: right;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.subdiv
{
    padding: 5%;
}
.subtitle{
    text-align: center;
    font-style: italic;
    font-size: large;
}
a:-webkit-any-link{
    text-decoration:none !important;
    color: $navfontcolor !important;
    }

a:hover{
    color: $navfontcolorhover;
}