@charset "UTF-8";

.nav
{
  font-family: "Times New Roman",Georgia,serif;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  color: #ff0000;
  background-color: #00ffff;
}
.headline
{
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.subdiv
{
    padding: 5%;
}
a
{
    color:  #ff0000;
}

a:-webkit-any-link{
    text-decoration:none !important;
    color: none !important;
    }